
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
        <a href="{% url 'main_page'%}">Home</a>
        <p>
            In 1914, France entered one of the darkest chapters in its history — World War I. The war began in July 1914, and France, as part of the Allied Powers, fought against Germany and Austria-Hungary. The conflict quickly turned into trench warfare, with soldiers living and fighting in harsh conditions along the Western Front, especially in northern France. Cities and villages were destroyed, and millions of soldiers and civilians lost their lives. The war deeply affected French society but also strengthened the country’s spirit of resistance and unity, which would shape its history for decades to come.
        </p>
    </div>
</body>
</html>