<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
</head>
<body>
    <a href="{% url 'main_page'%}">Home</a>
    <div class="">
        <p>
        France is home to many beautiful and historic cities, each with its own charm and culture. 
        The capital, Paris, is world-famous for landmarks such as the Eiffel Tower, Louvre Museum, 
        and Notre-Dame Cathedral. It is also known as the “City of Love” and a global center for art, 
        fashion, and cuisine. Lyon, located in the southeast, is often called the gastronomic capital 
        of France and is known for its Renaissance architecture and silk industry.</p>

        <p>
        In the south, Marseille stands out as a major port city on the Mediterranean Sea, 
        offering a mix of French and North African cultures. Nice, part of the French Riviera, 
        attracts tourists with its beaches and warm climate. Toulouse, known as “La Ville Rose” 
        (The Pink City), is famous for its red-brick buildings and aerospace industry. 
        Each city in France reflects the country’s rich history, diverse landscapes, and unique way of life.</p>


        <div class="">
            <a href="{% url 'cities_Paris'%}">Paris</a>
            <a href="{% url 'cities_Marseille'%}">Marseille</a>
        </div>
    </div>

</body>
</html>