<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facts</title>
</head>
<body>
    <a href="{% url 'main_page'%}">Home</a>
    <ul>
            <li>1. France invented the baguette law</li>
            <li>2. The Eiffel Tower grows in summer</li>
            <li>3. The Louvre is the world’s most visited museum</li>
            <li>4. There are over 1,000 types of cheese</li>
            <li>5. Paris is nicknamed “The City of Love”</li>
            <li>6. The French Revolution began in 1789</li>
            <li>7. France is the most visited country in the world</li>
            <li>8. The first public screening of a movie was in Paris</li>

            <li>9. The French language has influenced English</li>
            <li>10. France has a rich history of art and culture</li>
        </ul>
</body>
</html>