<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
        <p>🇫🇷 General Information about France

            Official Name: French Republic (République Française) <br>
            Capital: Paris
            Official Language: French <br>
            Currency: Euro (€)
            Government Type: Semi-presidential republic
            President: Emmanuel Macron (as of 2025) <br>
            Prime Minister: Gabriel Attal (as of 2025)
        </p>

        <a href="{% url 'history'%}">Go to history</a> <br>
        <a href="{% url 'cities'%}">Go to cities</a> <br>
        <a href="{% url 'facts'%}">Go to facts</a>
    </div>
</body>
</html>