<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book List</h1>
    {% if messages %}
        <div>
        {% for i in messages %}
            <div class="alert">{{ i }}</div>
        {% endfor %}
        </div>
    {% endif %}



    <p>Number of visits {{visits}}</p>
    

    <div>
        {% for book in books %}
            <div>
                <h2>{{ book.title }}</h2>
                <p>Author: {{ book.author }}</p>
                <p>Published: {{ book.published_date }}</p>
            </div>
        {% empty %}
            <p>No books available.</p>
        {% endfor %}
    </div>

    <h3>Your last visit {{last_visit}}</h3>

    <p>{{signed_visits}}</p>
</body>
</html>