<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
        <a href="{% url 'main_page'%}">Home</a>
        <p>
            Marseille in 1956 was a 
            lively Mediterranean port 
            city experiencing post-war 
            growth and change. It played 
            a key role in France’s trade 
            and migration, welcoming many 
            immigrants from North Africa 
            and other parts of the world.
             The mix of cultures gave Marseille 
             its unique energy and diversity. 
             The city was also rebuilding and modernizing 
             its harbor and neighborhoods after World War 
             II, turning into a vital economic and cultural 
             gateway between Europe and Africa.
        </p>
    </div>
</body>
</html>