<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
        <a href="{% url 'main_page'%}">Home</a>
        <p>Marseille, located on the Mediterranean coast, is the oldest city in <br>
            France and the country’s main port. Known for its multicultural <br>
            atmosphere and lively energy, Marseille combines French and North African<br>
            influences in its food, music, and traditions. The city’s highlights include <br>
            the Old Port (Vieux-Port), Basilique Notre-Dame de la Garde, and the nearby <br>
            Calanques National Park, famous for its stunning sea cliffs. Marseille’s mix <br>
            of history, nature, and diversity gives it a unique southern charm.</p>
        <div class="">
            <a href="{% url 'marseille_1956'%}">What happened in 1956</a><br>
        </div>
    </div>
</body>
</html>