<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
        <a href="{% url 'main_page'%}">Home</a>
        <p>
            Paris is the capital and most visited city of France, <br>
            often called the City of Light. It is famous for its <br>
            romantic atmosphere, elegant architecture, and world-class <br>
            museums such as the Louvre and Musée d’Orsay. The Eiffel <br>
            Tower, Notre-Dame Cathedral, and Champs-Élysées are among <br>
            its most iconic landmarks. Paris is also a global center <br>
            for fashion, art, and gastronomy, making it a symbol of 
            French culture and sophistication.
        </p>
        <div class="">
            <a href="{% url 'paris_1924'%}">What happened in 1924</a><br>
        </div>
    </div>
</body>
</html>