<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="{% url 'main_page'%}">Home</a>
        <p>
            Paris in 1924 was a vibrant center of culture, 
            fashion, and art, recovering from the effects 
            of World War I. This period, known as the 
            “Roaring Twenties” or Les Années Folles in 
            French, was marked by the rise of jazz, literature, 
            and modern art. The city attracted famous writers 
            and artists such as Ernest Hemingway, Pablo Picasso, 
            and F. Scott Fitzgerald, who made Paris a hub of 
            creativity. In the same year, the 1924 Summer 
            Olympic Games were held in Paris, strengthening 
            its image as an international city of peace, sports, and innovation.
        </p>
    </div>
</body>
</html>